.container {
 position: relative;
 width: 400px;
 height: 200px;
 perspective: 1000px; /*перспектива без которой просто сдвиг в стороны боксов*/
 }
 
.box1, .box2 {
 position: absolute;
 top: 20%;
 height: 100%;
 width: 50%;
 background: #75216a;
 transform-origin: center;
 transition: transform 2s ease-in-out;
}
.box1 {
 left: 0;  
 transform-origin: left center; 
 }

.box2 {
   right: 0;
   transform-origin: right center;
 }
 
 .text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   color: #5f1255;
   font-size: 40px;
   font-weight: bold;
   text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
   z-index: 2;
   text-align: center;
 }

 .container:hover .box1 {
  transform: rotateY(70deg);   
 }
 
 .container:hover .box2 {   
   transform: rotateY(-70deg);   
 }
 
 .container:hover .text {
   transform: translate(-50%, -50%) scale(1);
   transition: transform 1.5s ease-in 0.5s;
 }


